@import url("/usr/share/gnome-shell/theme/gnome-shell.css");
/*$selected_borders_color: if($variant == 'light', darken($selected_bg_color, 30%), darken($selected_bg_color, 20%));*/
/*$borders_color: if($variant == 'light', shade($bg_color, .85), shade($bg_color, .88));*/
/*$dark_shadow: #000;*/
/*$light_shadow: #fff;*/
/*$button_border_strength: if(lightness($bg) > 50, 0, .1);*/
/*$button_shadow_strength: if(lightness($bg) > 50, 0, .1);*/
/* Global Values */
stage {
  color: #1d2021;
  background-color: #d5c4a1;
}

/* Common Stylings */
.shell-link {
  color: #3f51b5;
}
.shell-link:hover {
  color: #606fc7;
}

.lowres-icon {
  icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.icon-dropshadow {
  icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.button {
  color: #d5c4a1;
  background-color: #1d2021;
  border-color: rgba(213, 196, 161, 0.84);
  box-shadow: 0 1px 1px 0 shade(#d5c4a1, 0.2);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  icon-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.button StWidget {
  color: #d5c4a1;
}
.button:focus {
  color: #d5c4a1;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  icon-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 2px rgba(184, 187, 38, 0.6);
}
.button:focus StWidget {
  color: #d5c4a1;
}
.button:hover {
  color: #1d2021;
  background-color: #b8bb26;
  border-color: #d5c4a1;
  box-shadow: 0 1px 1px 0 shade(#d5c4a1, 0.2);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  icon-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.button:hover StWidget {
  color: #1d2021;
}
.button:insensitive {
  color: #bda36c;
  border-color: #d5c4a1;
  background-color: #1d2021;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}
.button:insensitive StWidget {
  color: #bda36c;
}
.button:active {
  color: #1d2021;
  background-color: #b8bb26;
  border-color: #d5c4a1;
  text-shadow: none;
  icon-shadow: none;
  box-shadow: none;
}
.button:active StWidget {
  color: #1d2021;
}

.candidate-page-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button,
.app-view-control {
  color: #d5c4a1;
  background-color: #1d2021;
  border-color: rgba(213, 196, 161, 0.84);
  box-shadow: 0 1px 1px 0 shade(#d5c4a1, 0.2);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  icon-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.candidate-page-button StWidget,
.notification-button StWidget,
.notification-icon-button StWidget,
.hotplug-notification-item StWidget,
.hotplug-resident-eject-button StWidget,
.modal-dialog-button StWidget,
.app-view-control StWidget {
  color: #d5c4a1;
}
.candidate-page-button:focus,
.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.hotplug-resident-eject-button:focus,
.modal-dialog-button:focus,
.app-view-control:focus {
  color: #d5c4a1;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  icon-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 2px rgba(184, 187, 38, 0.6);
}
.candidate-page-button:focus StWidget,
.notification-button:focus StWidget,
.notification-icon-button:focus StWidget,
.hotplug-notification-item:focus StWidget,
.hotplug-resident-eject-button:focus StWidget,
.modal-dialog-button:focus StWidget,
.app-view-control:focus StWidget {
  color: #d5c4a1;
}
.candidate-page-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover,
.app-view-control:hover {
  color: #1d2021;
  background-color: #b8bb26;
  border-color: #d5c4a1;
  box-shadow: 0 1px 1px 0 shade(#d5c4a1, 0.2);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  icon-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.candidate-page-button:hover StWidget,
.notification-button:hover StWidget,
.notification-icon-button:hover StWidget,
.hotplug-notification-item:hover StWidget,
.hotplug-resident-eject-button:hover StWidget,
.modal-dialog-button:hover StWidget,
.app-view-control:hover StWidget {
  color: #1d2021;
}
.candidate-page-button:insensitive,
.notification-button:insensitive,
.notification-icon-button:insensitive,
.hotplug-notification-item:insensitive,
.hotplug-resident-eject-button:insensitive,
.modal-dialog-button:insensitive,
.app-view-control:insensitive {
  color: #bda36c;
  border-color: #d5c4a1;
  background-color: #1d2021;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}
.candidate-page-button:insensitive StWidget,
.notification-button:insensitive StWidget,
.notification-icon-button:insensitive StWidget,
.hotplug-notification-item:insensitive StWidget,
.hotplug-resident-eject-button:insensitive StWidget,
.modal-dialog-button:insensitive StWidget,
.app-view-control:insensitive StWidget {
  color: #bda36c;
}
.candidate-page-button:active,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.app-view-control:active {
  color: #1d2021;
  background-color: #b8bb26;
  border-color: #d5c4a1;
  text-shadow: none;
  icon-shadow: none;
  box-shadow: none;
}
.candidate-page-button:active StWidget,
.notification-button:active StWidget,
.notification-icon-button:active StWidget,
.hotplug-notification-item:active StWidget,
.hotplug-resident-eject-button:active StWidget,
.modal-dialog-button:active StWidget,
.app-view-control:active StWidget {
  color: #1d2021;
}

StEntry {
  background-color: #1d2021;
  color: #d5c4a1;
}

.popup-menu, .panel-menu {
  -arrow-background-color: #1d2021;
}
.popup-menu .popup-sub-menu, .panel-menu .popup-sub-menu {
  background-color: #1d2021;
}
.popup-menu .popup-menu-content, .panel-menu .popup-menu-content {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  background-color: #1d2021;
  color: #d5c4a1;
}
.popup-menu .popup-menu-item, .panel-menu .popup-menu-item {
  background-color: transparent !important;
  color: #d5c4a1;
}
.popup-menu .popup-menu-item StWidget, .panel-menu .popup-menu-item StWidget {
  color: #d5c4a1;
}
.popup-menu .popup-menu-item:hover, .popup-menu .popup-menu-item:active, .popup-menu .popup-menu-item:overview, .popup-menu .popup-menu-item:focus, .popup-menu .popup-menu-item:checked, .panel-menu .popup-menu-item:hover, .panel-menu .popup-menu-item:active, .panel-menu .popup-menu-item:overview, .panel-menu .popup-menu-item:focus, .panel-menu .popup-menu-item:checked {
  background-color: #b8bb26 !important;
  color: #1d2021 !important;
}
.popup-menu .popup-menu-item:hover StWidget, .popup-menu .popup-menu-item:active StWidget, .popup-menu .popup-menu-item:overview StWidget, .popup-menu .popup-menu-item:focus StWidget, .popup-menu .popup-menu-item:checked StWidget, .panel-menu .popup-menu-item:hover StWidget, .panel-menu .popup-menu-item:active StWidget, .panel-menu .popup-menu-item:overview StWidget, .panel-menu .popup-menu-item:focus StWidget, .panel-menu .popup-menu-item:checked StWidget {
  color: #1d2021 !important;
}
.popup-menu .popup-menu-item:insensitive, .panel-menu .popup-menu-item:insensitive {
  color: #bda36c !important;
  background-color: #1d2021 !important;
}
.popup-menu .popup-menu-item:insensitive StWidget, .panel-menu .popup-menu-item:insensitive StWidget {
  color: #bda36c !important;
}
.popup-menu StButton, .panel-menu StButton {
  color: #d5c4a1;
  background-color: #1d2021;
  border-color: rgba(213, 196, 161, 0.84);
  box-shadow: 0 1px 1px 0 shade(#d5c4a1, 0.2);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  icon-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
.popup-menu StButton StWidget, .panel-menu StButton StWidget {
  color: #d5c4a1;
}
.popup-menu StButton:focus, .panel-menu StButton:focus {
  color: #d5c4a1;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  icon-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 2px rgba(184, 187, 38, 0.6);
}
.popup-menu StButton:focus StWidget, .panel-menu StButton:focus StWidget {
  color: #d5c4a1;
}
.popup-menu StButton:hover, .panel-menu StButton:hover {
  color: #1d2021;
  background-color: #b8bb26;
  border-color: #d5c4a1;
  box-shadow: 0 1px 1px 0 shade(#d5c4a1, 0.2);
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  icon-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.popup-menu StButton:hover StWidget, .panel-menu StButton:hover StWidget {
  color: #1d2021;
}
.popup-menu StButton:insensitive, .panel-menu StButton:insensitive {
  color: #bda36c;
  border-color: #d5c4a1;
  background-color: #1d2021;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}
.popup-menu StButton:insensitive StWidget, .panel-menu StButton:insensitive StWidget {
  color: #bda36c;
}
.popup-menu StButton:active, .panel-menu StButton:active {
  color: #1d2021;
  background-color: #b8bb26;
  border-color: #d5c4a1;
  text-shadow: none;
  icon-shadow: none;
  box-shadow: none;
}
.popup-menu StButton:active StWidget, .panel-menu StButton:active StWidget {
  color: #1d2021;
}

/* Modal Dialogs */
.headline {
  font-size-adjust: 1;
}

.modal-dialog {
  background-color: #1d2021;
  color: #d5c4a1;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.modal-dialog .modal-dialog-content-box {
  margin: 32px 40px;
  spacing: 32px;
  max-width: 28em;
}
.modal-dialog StButton {
  background-color: #1d2021;
  color: #d5c4a1;
}

/* Network Manager */
.nm-dialog-item {
  font-size: 12pt;
  border-bottom: 1px solid #666;
  padding: 12px;
  background-color: #1d2021;
  color: #d5c4a1;
}
.nm-dialog-item:checked {
  background-color: #b8bb26;
  color: #1d2021;
}

/* End Session Dialog */
.end-session-dialog {
  width: 30em;
}
.end-session-dialog .end-session-dialog-battery-warning,
.end-session-dialog .dialog-list-title {
  color: #ef6c00;
}

/* Message Dialog */
.message-dialog-content {
  spacing: 18px;
}
.message-dialog-content .message-dialog-title {
  text-align: center;
  font-size: 18pt;
  font-weight: 800;
}
.message-dialog-content .message-dialog-title.lightweight {
  font-size: 13pt;
  font-weight: 800;
}
.message-dialog-content .message-dialog-description {
  text-align: center;
}

/* Dialog List */
.dialog-list {
  spacing: 18px;
}
.dialog-list .dialog-list-title {
  text-align: center;
  font-weight: bold;
}
.dialog-list .dialog-list-scrollview {
  max-height: 200px;
}
.dialog-list .dialog-list-box {
  spacing: 1em;
}
.dialog-list .dialog-list-box .dialog-list-item {
  spacing: 1em;
}
.dialog-list .dialog-list-box .dialog-list-item .dialog-list-item-title {
  font-weight: bold;
}
.dialog-list .dialog-list-box .dialog-list-item .dialog-list-item-description {
  color: #cdb98f;
  font-size-adjust: -1;
}

/* Run Dialog */
.run-dialog .modal-dialog-content-box {
  margin-top: 24px;
  margin-bottom: 14px;
}
.run-dialog .run-dialog-entry {
  width: 20em;
}
.run-dialog .run-dialog-description {
  font-size-adjust: -1;
  text-align: center;
  color: #b6985b;
}

/* Password or Authentication Dialog */
.prompt-dialog {
  width: 28em;
}
.prompt-dialog .modal-dialog-content-box {
  margin-bottom: 24px;
}

.prompt-dialog-password-grid {
  spacing-rows: 8px;
  spacing-columns: 4px;
}
.prompt-dialog-password-grid .prompt-dialog-password-entry {
  width: auto;
}
.prompt-dialog-password-grid .prompt-dialog-password-entry:ltr {
  margin-left: 20px;
}
.prompt-dialog-password-grid .prompt-dialog-password-entry:rtl {
  margin-right: 20px;
}

.prompt-dialog-password-layout {
  spacing: 8px;
}

.prompt-dialog-password-entry {
  width: 20em;
}

.prompt-dialog-error-label,
.prompt-dialog-info-label,
.prompt-dialog-null-label {
  text-align: center;
  font-size-adjust: -1;
}

.prompt-dialog-error-label {
  color: #ef6c00;
}

/* Polkit Dialog */
.polkit-dialog-user-layout {
  text-align: center;
  spacing: 8px;
  margin-bottom: 6px;
}
.polkit-dialog-user-layout .polkit-dialog-user-icon {
  border-radius: 99px;
  background-size: contain;
}
.polkit-dialog-user-layout .polkit-dialog-user-root-label {
  color: #ef6c00;
}

/* Audio selection dialog */
.audio-device-selection-dialog .modal-dialog-content-box {
  margin-bottom: 28px;
}
.audio-device-selection-dialog .audio-selection-box {
  spacing: 20px;
}

.audio-selection-device {
  border: 1px solid #d5c4a1;
  border-radius: 12px;
}
.audio-selection-device:hover, .audio-selection-device:focus {
  background-color: #b8bb26;
}
.audio-selection-device:active {
  background-color: #b8bb26;
  color: #1d2021;
}

.audio-selection-device-box {
  padding: 20px;
  spacing: 20px;
}

.panel-menu .calendar,
.panel-menu .message-list-sections,
.panel-menu .datemenu-today-button,
.panel-menu .world-clocks-button,
.panel-menu .weather-button,
.panel-menu .events-section-title {
  color: #d5c4a1;
  background-color: #1d2021;
}
.panel-menu .calendar StLabel,
.panel-menu .message-list-sections StLabel,
.panel-menu .datemenu-today-button StLabel,
.panel-menu .world-clocks-button StLabel,
.panel-menu .weather-button StLabel,
.panel-menu .events-section-title StLabel {
  color: #d5c4a1;
}
.panel-menu .datemenu-today-button:active, .panel-menu .datemenu-today-button:focus, .panel-menu .datemenu-today-button:hover,
.panel-menu .world-clocks-button:active,
.panel-menu .world-clocks-button:focus,
.panel-menu .world-clocks-button:hover,
.panel-menu .weather-button:active,
.panel-menu .weather-button:focus,
.panel-menu .weather-button:hover,
.panel-menu .events-section-title:active,
.panel-menu .events-section-title:focus,
.panel-menu .events-section-title:hover {
  color: #1d2021;
  background-color: #b8bb26;
}
.panel-menu .calendar {
  border: 1px solid rgba(213, 196, 161, 0.84);
}
.panel-menu .calendar-day-base {
  background-color: #1d2021;
  color: #d5c4a1;
}
.panel-menu .calendar-day-base:active, .panel-menu .calendar-day-base:focus, .panel-menu .calendar-day-base:hover {
  color: #1d2021;
  background-color: #b8bb26;
}
.panel-menu .events-button {
  color: #d5c4a1;
  background-color: #1d2021;
}
.panel-menu .events-button StLabel {
  color: #d5c4a1;
}

/* Notifications & Message Tray */
.notification-banner {
  min-height: 64px;
  width: 34em;
  border: 1px solid #d5c4a1;
  background-color: #1d2021;
  color: #d5c4a1;
}
.notification-banner StWidget {
  color: #d5c4a1;
}
.notification-banner StWidget:hover, .notification-banner StWidget:active, .notification-banner StWidget:focus {
  background-color: #b8bb26;
  color: #1d2021;
}
.notification-banner .notification-actions {
  spacing: 0;
  background-color: #1d2021;
  color: #d5c4a1;
}
.notification-banner .notification-actions StWidget {
  color: #d5c4a1;
}

.summary-source-counter {
  font-size-adjust: -1;
  font-weight: bold;
  height: 1.6em;
  width: 1.6em;
  -shell-counter-overlap-x: 3px;
  -shell-counter-overlap-y: 3px;
  background-color: #b8bb26;
  color: #1d2021;
  border: 2px solid #d5c4a1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.9em;
}

.chat-body {
  spacing: 5px;
}

.chat-response {
  margin: 5px;
}

.chat-log-message {
  color: #c5ae7e;
}

.chat-new-group {
  padding-top: 1em;
}

.chat-received {
  padding-left: 4px;
}
.chat-received:rtl {
  padding-left: 0px;
  padding-right: 4px;
}

.chat-sent {
  padding-left: 18pt;
  color: #ede5d6;
}
.chat-sent:rtl {
  padding-left: 0;
  padding-right: 18pt;
}

.chat-meta-message {
  padding-left: 4px;
  font-size-adjust: 2;
  font-weight: bold;
  color: #f1ece0;
}
.chat-meta-message:rtl {
  padding-left: 0;
  padding-right: 4px;
}

#dash {
  background-color: #1d2021;
  color: #d5c4a1;
}
#dash .dash-label {
  background-color: #1d2021;
  color: #d5c4a1;
}

#panel {
  background-color: #1d2021;
  color: #d5c4a1;
}
#panel .panel-corner {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-width: 0;
  -panel-corner-border-color: transparent;
}
#panel .panel-button {
  color: #d5c4a1;
}
#panel .panel-button .app-menu-icon {
  -st-icon-style: symbolic;
}
#panel:hover, #panel:active, #panel:overview, #panel:focus, #panel:checked {
  background-color: transparent;
  color: #d5c4a1;
  border-bottom: 5px solid #b8bb26;
}
#panel:insensitive {
  color: #bda36c;
  background-color: #1d2021;
}

/*# sourceMappingURL=gnome-shell.css.map */
